[validator_token]
  eyJtYW5pZmVzdCI6IkpBQUFBQUZ4SWUzU1ovc05JYUszc1NUZy9waEt3ODRHdDlHWm5KTklN
  V3BhNlhZWXRmcUFBSE1oQW16dEphaUo1RVVpcllnSXBLemdBTy9TeGJEZWNvZkdWNkFBM2ZN
  UnJaZHBka2N3UlFJaEFLZDk1b2N6dm1uS2JsV3VkU1lvTGpDUmhQZnZQYzNaOEQrSlJ6VElX
  cDBvQWlCUlAvdHFaYjJ1UTQ1SDlSMmdReG9tSXdWMUo5bS9qWEJDU3I5MStDcDkybkFTUUNq
  WjlRWHdYNStTSHNyRm5weHdLcE1kOWxmTTBWdUoraWNWNTN6NXJEcGhESVh1RFJFSWdtaHRh
  cWNwK1NFb3JhaHBPOHIvVm8yWUlwRkZGSXZlYXc4PSIsInZhbGlkYXRpb25fc2VjcmV0X2tl
  eSI6IjcwNzU5QzVDQzZFMjFBOUU2M0FGODcwNTFBMDM3MDc3RTAyNzk1OEM3NjYwOEJEREU1
  QTRGNUM1NEE4NjAyREIifQ==

[server]
  port_rpc_admin_local
  port_peer
  port_ws_admin_local

[port_rpc_admin_local]
  port = 5005
  ip = 0.0.0.0
  admin = [0.0.0.0]
  protocol = http

[port_peer]
  port = 51235
  ip = 0.0.0.0
  protocol = peer

[port_ws_admin_local]
  port = 6006
  ip = 0.0.0.0
  admin = [0.0.0.0]
  protocol = ws

[node_db]
  type = NuDB
  path = /var/lib/rippled/db/nudb

[ledger_history]
  full

[database_path]
  /var/lib/rippled/db

[debug_logfile]
  /var/log/rippled/debug.log

[node_size]
  huge

[beta_rpc_api]
  1

[rpc_startup]
  { "command": "log_level", "severity": "debug" }

# [features]
#   ## New Features
#   AMM
#   AMMClawback
#   CheckCashMakesTrustLine
#   Checks
#   Clawback
#   DeepFreeze
#   DeletableAccounts
#   DepositAuth
#   DepositPreauth
#   DID
#   DisallowIncoming
#   ExpandedSignerList
#   Flow
#   FlowCross
#   FlowSortStrands
#   HardenedValidations
#   ImmediateOfferKilled
#   MultiSignReserve
#   NegativeUNL
#   NFTokenMintOffer
#   NonFungibleTokensV1_1
#   PriceOracle
#   RequireFullyCanonicalSig
#   TicketBatch
#   XRPFees

#   ## Bug fixes
#   fix1513
#   fix1515
#   fix1543
#   fix1571
#   fix1578
#   fix1623
#   fix1781
#   fixAmendmentMajorityCalc
#   fixAMMOverflowOffer
#   fixAMMv1_1
#   fixCheckThreading
#   fixDisallowIncomingV1
#   fixEmptyDID
#   fixEnforceNFTokenTrustline
#   fixFillOrKill
#   fixInnerObjTemplate
#   fixInnerObjTemplate2
#   fixMasterKeyAsRegularKey
#   fixNFTokenPageLinks
#   fixNFTokenRemint
#   fixNFTokenReserve
#   fixNonFungibleTokensV1_2
#   fixPayChanRecipientOwnerDir
#   fixPreviousTxnID
#   fixQualityUpperBound
#   fixReducedOffersV1
#   fixReducedOffersV2
#   fixRemoveNFTokenAutoTrustLine
#   fixRmSmallIncreasedQOffers
#   fixSTAmountCanonicalize
#   fixTakerDryOfferRemoval
#   fixTrustLinesToSelf
#   fixUniversalNumber


[peer_private]
  0

[ssl_verify]
  0

[compression]
  0

[signing_support]
  false

[ips_fixed]
  val1 51235
  # val2 51235
  # val3 51235
  # val4 51235

[validators]
  nHUxa1ZL3mH6Sts7HWpGR8wURn5moxX6xSqRgBqDowd7gdvxaCkz
  nHDrvF8uoNjjJQg5WuuhNNHteb6TvjjimNYHs7bKreSgMKCzKPpg
  # nHBjfmkRKgjkQSTof6JEybn9mPp34c2dTcLTpZug2TJ2psw4FAkD
  # nHD9rP2cVPS7EpYTLMVJqWQgad8TcP5xsPZX84zH2JvRx4gcRBgV
  # nHBVsbuw797nThegofLfkm5sUbzRpZ9hvLy3rFdNjJWSrBRx8pwC
